{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<style type="text/css">
    .dashboard #content {
        width: 50%;
    }
    #map {
        width: 100%;
        height: 32em;
    }
    #course_select {
        margin:3px 6px 6px;
        width:18.5em;
    }
    .content-related h4 {
        margin: 0;
        font-size: 11px;
    }
    .content-related h2 {
        margin-bottom: 5px;
    }
    .content-related h3 {
        font-size: 12px;
    }
    .content-related {
        float: right;
        position: relative;
        width: 18em;
        margin-right: -19em;
    }
</style>
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}course_list.js"></script>
<script type="text/javascript">
    function renderCourseExtra(c, node) {
        $("<hr/>").appendTo(node);
        var nLink = $("<p/>").appendTo(node);
        $("<a/>").attr('href', '../' + c.id + '/map/').text('Course Map').appendTo(nLink);
        $("<br/>").appendTo(nLink);
        $("<a/>").attr('href', '../' + c.id + '/').text('Edit Course').appendTo(nLink);
    }
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">Courses</a> &rsaquo; 
     <a href="../">Courses</a> &rsaquo; 
     Courses Map
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
    <ul class="object-tools">
        <li><a href="../" class="listlink">Course List</a></li>
        <li><a href="../export/" class="exportlink" title="Export as Static HTML">Export</a></li>
    </ul>
    {% endblock %}
    <div id="map"></div>
</div>
{% endblock %}

{% block sidebar %}
<div class="content-related">
    <div class="module">
        <h2>Select Course</h2>
        <select id="course_select">
            <option value="-1" selected="selected">-</option>
            {% for c in courses %}
            <option value="{{c.id}}">{{c}} ({{c.length|floatformat}} Nm)</option>
            {% endfor %}
        </select>
    </div>
    <div class="module" id="course_info"></div>
</div>
{% endblock sidebar %}
