{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<style type="text/css">
    .dashboard #content {
        width: 50%;
    }
    #map {
        width: 100%;
        height: 26em;
    }
    .content-related h4 {
        margin: 0;
        font-size: 11px;
    }
    .content-related h2 {
        margin-bottom: 5px;
    }
    .content-related h3 {
        font-size: 12px;
    }
    .content-related {
        float: right;
        position: relative;
        width: 18em;
        margin-right: -19em;
    }
</style>
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript">
    var COURSE_JSON = {{course_json|safe}};
    var map;
    
    $(document).ready(function() {
        map = new OpenLayers.Map('map', {
            units: "m",
            maxResolution: 156543.0339,
            numZoomLevels: 20,
            projection: new OpenLayers.Projection("EPSG:900913"),
            displayProjection: new OpenLayers.Projection("EPSG:4326"),
            wrapDateLine: true
        });

        map.addLayer(new OpenLayers.Layer.OSM(null, null, {
            displayOutsideMaxExtent: true,
            wrapDateLine: true,
            transitionEffect: 'resize',
            attribution: "Map &copy; <a href='http://www.openstreetmap.org'>OpenStreetMap</a>."
        }));
        
        var pWKT = new OpenLayers.Format.WKT();
        
        var lCourse = new OpenLayers.Layer.Vector("Course", {
            styleMap : new OpenLayers.StyleMap({
                'default': {
                    strokeColor: '#FF4500',
                    strokeWidth: 3,
                    strokeOpacity: 0.8
                }
            })
        });
        var fCourse = pWKT.read(COURSE_JSON.path_globalMercator);
        lCourse.addFeatures(fCourse);
        map.addLayer(lCourse);
        map.zoomToExtent(lCourse.getDataExtent());
        
        var lMarks = new OpenLayers.Layer.Vector("Marks", {
            styleMap: new OpenLayers.StyleMap({
                'default': {
                    strokeColor: "#FFD700",
                    strokeOpacity: 1,
                    strokeWidth: 1,
                    fillColor: "#FFFF00",
                    fillOpacity: 0.8,
                    pointRadius: 6
                },
                'select': {
                    fillOpacity: 1.0,
                    strokeWidth: 2,
                    label : "${label}",
                    labelAlign: 'lb',
                    fontColor: "#000000",
                    fontSize: "11px",
                    fontFamily: "Verdana, Arial, sans-serif"
                }
            })
        });  
        var markMap = {};
        $.each(COURSE_JSON.marks, function(i, courseMark) {
            var mark = courseMark.mark;
            
            var label;
            if (i == 0) {
                label = "Start (" + mark.name + ")";
            } else if (i == COURSE_JSON.marks.length-1) {
                label = i.toString() + ": Finish (" + mark.name + ")";
            } else {
                label = i.toString() + ": " + mark.name + " (" + courseMark.rounding_display + ")";
            }
            
            if (markMap[mark.id]) {
                markMap[mark.id].attributes['label'] += ", " + label;
            } else {
                var fm = pWKT.read(mark.location_globalMercator);
                fm.attributes['label'] = label;
                markMap[mark.id] = fm;
            }
        });
        var fMarks = [];
        for (var k in markMap) {
            fMarks.push(markMap[k]);
        }
        lMarks.addFeatures(fMarks);
        map.addLayer(lMarks);
        
        var cSelect = new OpenLayers.Control.SelectFeature(lMarks, {hover: true});
        map.addControl(cSelect);
        cSelect.activate();
    });
</script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">Courses</a> &rsaquo; 
     <a href="../../">Courses</a> &rsaquo; 
     <a href="../">{{ course }}</a> &rsaquo; 
     Map
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
    <ul class="object-tools">
        <li><a href="../" class="editlink">Edit Course</a></li>
    </ul>
    {% endblock %}

    <p>{{ course.description }}</p>
    <div id="map"></div>
    
    <h3>Suitable Conditions</h3>
    <p>{{ course.suitable_conditions|default:"&nbsp;"|linebreaks }}</p>
    <h3>Unsuitable Conditions</h3>
    <p>{{ course.unsuitable_conditions|default:"&nbsp;"|linebreaks }}</p>
    <h3>Comments</h3>
    <p>{{ course.comments|default:"&nbsp;"|linebreaks }}</p>
</div>
{% endblock %}

{% block sidebar %}
<div class="content-related">
    <div class="module">
        <h2>Course {{course.number}}</h2>
        <ul>
            <li>Distance: {{course.length|floatformat}} Nm</li>
            <li>Can Shorten: {{course.can_shorten|default:"Yes,No"}}</li>
        </ul>
        
        {% for cm in course.coursemark_set.all %}
        {% with cm.mark as m %}
        {% if forloop.first %}
            <h3>Start ({{m.name}})</h3>
        {% else %}
            {% if forloop.last %}
                <h3>{{forloop.counter0}}: Finish ({{m.name}})</h3>
            {% else %}
                <h3>{{forloop.counter0}}: {{m.name}}</h3>
            {% endif %}
            <ul>
                <li>Distance: {{cm.distance_previous|floatformat}} Nm</li>
                <li>Bearing: {{cm.bearing_from_previous|stringformat:"03d"}}&deg;</li>
            </ul>
            {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock sidebar %}
