<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yachter Mobile</title>

    <style type="text/css">
        @import url('{{STATICFILES_URL}}mobile/sencha-touch-1.0/resources/css/sencha-touch.css');
        @import url('{{STATICFILES_URL}}mobile/home.css');
    </style>

    <!-- Polymaps JS -->
    <script type="text/javascript" src="{{STATICFILES_URL}}mobile/polymaps-2.2.0/polymaps.min.js"></script>
    <script type="text/javascript" src="{{STATICFILES_URL}}mobile/polymaps-2.2.0/lib/nns/nns.js"></script>

    <!-- HighCharts JS -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATICFILES_URL}}mobile/highcharts-2.1.0/js/highcharts.js"></script>

    <!-- Sencha Touch JS -->
    <script type="text/javascript" src="{{STATICFILES_URL}}mobile/sencha-touch-1.0/sencha-touch-debug.js"></script>
    
    <!-- Plugins -->
    <script type="text/javascript" src="{{STATICFILES_URL}}mobile/polymap.js"></script>
    <script type="text/javascript" src="{{STATICFILES_URL}}mobile/tideChartPanel.js"></script>
    
    <!-- Application JS -->
    <script type="text/javascript" src="{{STATICFILES_URL}}mobile/home.js"></script>
</head>
<body></body>
</html>
