
.y-station {
    background-color: #354F6E;
    z-index: 10;
}
.y-station-body {
    background-color: white;
    padding: 5px;
}
.y-station .credits {
    text-align: right;
    font-size: 75%;
    margin: 1em 5px 5px 5px;
}
.y-station .ob {
    margin-bottom: 5px;
    font-size: 90%;
}
.y-station .obTime {
    text-align: center;
}
.y-station .obInfo {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.y-tidechart {
    background-color: white;
}
.y-forecast {
    background-color: white;
    padding: 0 10px 10px 10px;
    font-size: 90%;
}
.y-forecast dt {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
    font-weight: bold;
}
.y-forecast dt.hidden {
    display: none;
}
.y-forecast strong {
    font-weight: bold;
    margin-top: 0.3em;
}
.y-forecast li {
    list-style-type: disc;
    margin-left: 23px;
}
.y-forecast .credits {
    font-size: 75%;
    text-align: right;
    margin-top: 1em;
}

.y-about {
    background-color: white;
    padding: 5px;
    font-size: 90%;
}
.y-about h1, .y-about h2 {
    text-align: center;
    font-size: 110%;
    font-weight: bold;
}
.y-about h2 {
    font-size: 100%;
    margin-top: 1em;
}
.y-about p, .y-about ul, .y-about li {
    margin-top: 0.7em;
}
.y-about li {
    list-style-type: disc;
    margin-left: 23px;
}
.y-about ul li ul, .y-about ul li ul li {
    margin-top: 0.2em;
}
.y-about strong {
    font-weight: bold;
}
body {
    font-family: Tahoma, Geneva, sans-serif; 
}

/* Extra icons. Should really be doing the data: url thing, but hey... */
.x-tab img.info_plain, .x-button img.x-icon-mask.info_plain {
   -webkit-mask-image: url("sencha-touch-1.0/resources/themes/images/default/pictos/info_plain.png");
}
.x-tab img.compass3, .x-button img.x-icon-mask.compass3 {
   -webkit-mask-image: url("sencha-touch-1.0/resources/themes/images/default/pictos/compass3.png");
}
.x-tab img.cloud, .x-button img.x-icon-mask.cloud {
   -webkit-mask-image: url("sencha-touch-1.0/resources/themes/images/default/pictos/cloud.png");
}
.x-tab img.chart2, .x-button img.x-icon-mask.chart2 {
   -webkit-mask-image: url("sencha-touch-1.0/resources/themes/images/default/pictos/chart2.png");
}
