
.map .gust_speed {
    fill: yellow;
}
.map .wind_speed {
    fill: orange;
}

/* Polymaps */

svg.map {
  width: 100%;
  height: 100%;
}

.map .compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.map .compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.map .compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.map .compass .direction {
  fill: none;
}

.map .compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.map .compass .zoom .chevron {
  stroke-width: 4px;
}

.map .compass .active .chevron, 
.map .compass .chevron.active {
  stroke: #fff;
}

.map .compass.active .active .direction {
  fill: #999;
}

/* end Polymaps */

.y-station {
    background-color: white;
    z-index: 10;
}
.y-tidechart {
    background-color: white;
}
.y-forecast {
    background-color: white;
    padding: 0 10px 10px 10px;
    font-size: 90%;
}
.y-forecast dt {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
    font-weight: bold;
}
.y-forecast dt.hidden {
    display: none;
}
.y-forecast strong {
    font-weight: bold;
    margin-top: 0.3em;
}
.y-forecast li {
    list-style-type: disc;
    margin-left: 23px;
}
.y-forecast .credits {
    font-size: 75%;
    text-align: right;
    margin-top: 1em;
}
